*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.text-center{
    text-align: center;
    margin-top: 20px;
}
.btn{
   background-color: #FD6E0A; 
   border: none;
   padding: 18px 35px;
   border-radius: 5px;
   font-size:20px ;
   color: white;
   cursor: pointer;

}
.section-heading{
   max-width:827px ;
   text-align: center; 
   margin: 0 auto;
}
.secgtion-headin h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}
.logo h2{
   font-size: 45px; 
   font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
/* main style */
nav{
    width:71%;
    max-width:1140px ;
    /* border:2px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
}
.meun{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .meun a{
    font-size:20px ;
    color: #474747;
    text-decoration: none;
}
/* hero section start */
#banner{
 
  margin:46px 38px 0 230px; 
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.banner-contant {
    max-width: 585px;
}
#banner.banner-contant h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}
#banner.banner-contant h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom:20px;

}
.banner-contant p{
    font-size: 18px;
    color: #757575;
    margin-bottom:30px;
    line-height:30px;
}
#banner.banner-image{
    max-width: 585px;
    vertical-align:middle;
}
#about{
  padding-top:130px ;  
}
#about .about-container{
   width: 71%;
   max-width: 1140px; 
   margin: 0 auto;
   text-align: center;
   background-color:#FFF8F3 ;
   padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
font-size: 20px;
line-height: 30px;
color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
}
#skills , #resume-container{
    padding-top:130px ;
}
#skills .skills-container{
   
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
 #skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
  

}
.skill-box .skill-card{
    padding: 30px;
  box-shadow: 0 6px 50px 0 #00000027;
    max-width: 247px;
}
.skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}
.skill-box .skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
 #resume-container .resume{
width: 71%;
max-width: 1140px;
margin: 113px auto 0;
display: flex;
gap:24px;

}
#resume-container .resume .title-1{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.experience-card{
    max-width: 511px;
    margin-right: 47px;
}
#resume-container .title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #474747;
 }
 #resume-container .institute{
    color: #474747;
    margin-bottom: 20px;
    font-weight: 600;
 }
  .resume .card-info{
     color: #474747;
    font-size: 16px;
    line-height: 28px;

  }
   .resume-card hr{
    margin: 30px 0;
   }
   footer{
    margin-top: 130px;
    background-color:#FFF8F3 ;
    padding:130px 0 ;
   }
   #footer{
    max-width:1140px ;
    width: 71%;
    margin: 0 auto;
   }
  #footer .footer-container{
    display: flex;
    gap: 116px;
  }
  .footer-container .social{
    max-width: 562px;

  }
  footer h2{
    color: #181818;
    font-size: 20px;
    margin-bottom: 20px;
  }
    .footer-container .social p{
        color: #474747;
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .footer-container .icons a{
        margin-right: 24px;
    }
    .footer-container form input[type="text"]{
        width:461px;
        padding: 18px 31px;
        margin-bottom: 24px;
        border: none;
        border-radius: 5px;
        color: #757575;
    }
    .footer-container form textarea{
     width:461px;
        padding: 18px 31px;
        margin-bottom: 24px;
        border: none;
        border-radius: 5px;
        color: #757575;   
    }